
 {% extends 'base.html'%}




{% block content %}


    <div class="col-md-12 divhead">
		<br>
		<center><h4>View Orders</h4></center>
		<hr>
		
	</div>
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h3><li style="color: red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h3>
    {% endfor %}
</ul>
{% endif %}

<form id="CartDetails" method="POST" class="post-form" action="/addtocart/">  
        {% csrf_token %}  
<center>
<div class="container-fluid" style="margin-top: 1%;padding:5%">	
	
	<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
    	 
        <th>Transaction id</th>  
        <th>User Id</th>  
        <th>TotalAmount</th>  
        <th>date</th>  
        <th>productList</th>    
        <th>quantity</th> 
        <th>status</th>
        <th>Update Status</th> 
    </tr>  
    </thead>  
    <tbody>  

	{% for or in Order %}  
		<tr>  
	        <td>{{ or.Tid }}</td>  
	        <td>{{ or.Uid }}</td>  
	        <td>{{ or.TotalAmount }}</td>  
	        <td>{{ or.date }}</td>  
	        <th>{{ or.productList }}</th>  
	        <th>{{ or.quantity }}</th> 
	        <th>{{ or.status }}</th>  
	        <td>   
	            <a href="/updatestatus/{{ or.id }}">Accept</a>  
	        </td>  
		</tr> 
	{% endfor %} 

    </tbody>  
	</table>
</div>
</center>
</form>

{% endblock %}